:root {
    --size-s: 4px;
    --size-m: 8px;
    --size-l: 16px;
    --size-xl: 32px;
    --gray: #888;
    --dark: #121212;
    --primary: #3700b3;
    --light: rgba(255 255 255 / 87%);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--light);
    background-color: var(--dark);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.light {
    color: var(--dark);
    background-color: var(--light);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

p,
h1,
h2,
h3 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: calc(1em + 0.5rem);
    text-wrap: balance;
}

button {
    font: inherit;
    cursor: pointer;
}

*:focus-visible {
    outline: 3px solid Highlight;
    box-shadow: 0 0 0 5px Canvas;
    outline-offset: 1px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    padding: var(--size-m);
    gap: var(--size-xl);
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    column-gap: var(--size-l);
    row-gap: var(--size-m);
    align-items: center;
}

.title {
    font-size: 1.5rem;
}

button {
    color: var(--light);
    background-color: var(--dark);
    border: 1px outset var(--gray);
}

button:hover, button:focus {
    filter: brightness(80%);
    border: 1px inset var(--gray);
}

.light button {
    color: var(--dark);
    background-color: var(--light);
}

.control-area {
    display: flex;
    flex-flow: wrap;
    column-gap: var(--size-l);
    row-gap: var(--size-m);
}

.fullscreen-btn {
    height: 48px;
    width: 48px;
    font-size: 24px;
    border-radius: var(--size-m);
}

.fullscreen-btn:active {
    font-size: 28px;
}

.dark-mode-toggle {
    position: relative;
    width: 96px;
    min-width: 96px;
    height: 48px;
}

.dark-mode-toggle label {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    border-radius: 24px;
    cursor: pointer;
}

.dark-mode-toggle input {
    height: 0;
    opacity: 0;
    width: 0;
}

.dark-mode-toggle input:checked ~ .slider {
    background-color: var(--light);
}

.dark-mode-toggle input:focus-visible ~ .slider {
    outline: 3px solid Highlight;
    box-shadow: 0 0 0 5px Canvas;
    outline-offset: 1px;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    transition: 0.3s;
    border: 1px outset var(--gray);
}

.slider:hover {
    filter: brightness(80%);
    border: 1px inset var(--gray);
}

.slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: inset 14px -8px 0 0 var(--light);
    background-color: var(--dark);
    transition: 0.3s;
}

input:checked ~ .slider::before {
    background-color: var(--dark);
    box-shadow: none;
    transform: translateX(48px);
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.grid {
    display: grid;
    gap: var(--size-m);
}

.cell {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 150px;
    max-width: 150px;
}

.card {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.error-box {
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    border-radius: var(--size-m);
    color: #721c24;
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    padding: var(--size-l);
    width: 100%;
}

.error-title {
    border-bottom: 1px solid #721c24;
}

.success-box {
    background-color: #d4edda;
    border: 2px solid #c3e6cb;
    border-radius: var(--size-m);
    color: #155724;
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    padding: var(--size-l);
    width: 100%;
}

.success-title {
    border-bottom: 1px solid #155724;
}

.loading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-m);
    width: 300px;
    height: 200px;
    padding: var(--size-m);
    border-radius: var(--size-m);
    border: 2px solid var(--gray);
    position: relative;
}

.loading-status {
    font-weight: bold;
    text-align: center;
}

.light .loading-box {
    border: 2px solid var(--dark);
}

.spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px var(--light);
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 50px;
    width: 50px;
    top: 50%;
    position: absolute;
    will-change: transform;
}

.light .spinner::before {
    border: solid 5px var(--dark);
    border-bottom-color: #1c87c9;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}